@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root {
    --cor-primaria: rgb(1, 22, 39);
    --cor-secundaria: rgb(5, 186, 218);
    --cor-terciaria: rgb(214, 213, 213);
    --cor-borda: rgb(100, 100, 100);
    --cor-desativado: rgba(255, 255, 255, 0.479);
    --fonte-primaria: "Poppins", sans-serif;
    --sombreado-padrao: 0 0px 10px rgba(0, 0, 0, 0.308);
}

html {
    height: 100%; /* Para manter o footer no fim da página */
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Para manter o footer no fim da página */
    justify-items: center;
    align-items: center;

    background-image: url(../imagens/plano-de-fundo.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    font-family: var(--fonte-primaria);
    font-weight: 400;
    /* line-height: 17px; */
    color: #FFFFFF;

    height: 100%;
}

.header, .footer {
    background-color: var(--cor-primaria);
    box-shadow: var(--sombreado-padrao);

    box-sizing: border-box;
    width: 100vw;
    padding: 10px;
}

.header__titulo-principal {
    font-weight: 500;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: flex-start;
    gap: 30px;

    box-sizing: border-box;
    width: 100%;    
    max-width: 1000px;
    padding: 30px 20px;
}

.main__mensagem {
    font-weight: 500;
    text-align: center;
    color: var(--cor-secundaria);
    text-shadow: 0px 0px 10px var(--cor-primaria);
}

@media screen and (min-width: 1024px) {
    .main {
        grid-template-columns: 1fr 300px;
    }

    .main__mensagem {
        grid-column: span 2;
        font-size: 1.1rem;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    padding: 20px;

    border-radius: 15px;
    box-shadow: var(--sombreado-padrao);
}

.section__titulo {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.bt {
    flex-grow: 1; /* responsividade dos botões de controle do temporizador*/

    background-color: var(--cor-terciaria);
    border: 1px solid var(--cor-borda);
    border-radius: 5px;

    padding: 5px;
    max-width: 130px;
}

/* TAREFAS */
.main__tarefas {
    background-color: rgba(157, 17, 170, 0.774);
}

.tarefas__input {
    height: 25px;
    padding: 0 5px;
}

.tarefas__lista {
    display: none;
    flex-direction: column;
    gap: 10px;

    background-color: #FFFFFF;
    color: #000000;
    border-radius: 15px;

    padding: 15px;
}

.lista__tarefa {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'checkbox descricao excluir';
    align-items: center;
    gap: 5px;

    padding-bottom: 10px;

    border-bottom: 1px solid var(--cor-terciaria);
}

.lista__tarefa:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.tarefa__checkbox {
    grid-area: checkbox;
}

.tarefa__descricao {
    grid-area: descricao;
}

.tarefa__bt--excluir {
    grid-area: excluir;
}

.tarefas__progresso {
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.progresso__mensagem {
    color: var(--cor-secundaria);
}

.progresso__barra--estrutura {
    display: inline-block;
    overflow: hidden;

    background-color: var(--cor-desativado);
    border-radius: 15px;

    width: 100%;
    height: 15px;
}

.progresso__barra--preenchimento {
    display: inline-block;
    
    background-color: var(--cor-secundaria);

    height: 100%;
    width: 0%;
}

/* TEMPORIZADOR */
.main__temporizador {
    background-color: rgba(6, 26, 114, 0.774);
}

.temporizador__mensagem {
    font-size: .9rem;
    color: var(--cor-secundaria);

    line-height: 18px;
}

.temporizador__opcoesTimer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcoesTimer__opcao--label {
    display: grid; /* Para alinhar e não destorcer os elementos */
    grid-template-columns: auto 1fr;
    gap: 5px;
}

.opcoesTimer__opcao--label--desativado {
    color: var(--cor-desativado);
}

.opcoesTimer__opcao--input {
    display: none;
}

.opcoesTimer__opcao--span {
    display: inline-block;

    background-color: #FFFFFF;
    border: 2px solid var(--cor-borda);
    border-radius: 50%;

    box-sizing: border-box;
    width: 15px;
    height: 15px;

    position: relative;
}

.opcoesTimer__opcao--span--desativado { 
    border-color: var(--cor-desativado);
    background-color: var(--cor-desativado);
}

.opcoesTimer__opcao--input:checked + span {
    border: 2px solid var(--cor-secundaria);
}

.opcoesTimer__opcao--input:checked + .opcoesTimer__opcao--span::after {
    content: '';

    display: inline-block;
    width: 7px;
    height: 7px;

    background-color: var(--cor-secundaria);
    border-radius: 50%;
 
    position: absolute;
    top: 2px;
    left: 2px;
    box-sizing: border-box; 
}

.temporizador__timer {
    font-size: 2.5rem;
    margin: 5px 0;
}

.temporizador__controle {
    display: flex;
    gap: 10px;
    width: 100%;
}
